server:
  port: 9050

springdoc:
  swagger-ui:
    path: /swagger-ui

spring:
  application:
    name: gateway
  cloud:
    gateway:
#      discovery:
#        locator:
#          enabled: true
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4000"
            allowedMethods: "*"
            allowedHeaders: "Authorization,Content-Type,Accept-Language,No-Auth"
            allowCredentials: true
      routes:
        - id: identity-service
          uri: lb://IDENTITY-SERVICE
          predicates:
            - Path=/identity/**
        - id: essay-service
          uri: lb://ESSAY-SERVICE
          predicates:
              - Path=/essay/**
        - id: interaction-service
          uri: lb://INTERACTION-SERVICE
          predicates:
            - Path=/interaction/**

  main:
    web-application-type: reactive

  messages:
    basename: i18n/messages
    encoding: UTF-8
    default-locale: en
    cache-duration: 3600


logging:
  level:
    org.springframework.beans.factory: DEBUG
    org.springframework.cloud.gateway: DEBUG

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

#_______________________________________MANAGEMENT_______________________________________
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
  endpoint:
    health:
      show-details: always

  info:
    git:
      enabled: true
      mode: full

  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
    tags:
      application: ${spring.application.name}

  observations:
    key-values:
      application: ${spring.application.name}

  tracing:
    enabled: true
    sampling:
      probability: 1.0