server:
  port: 10000
  servlet:
    context-path: /identity

spring:
  config:
    import:
      - "optional:file:env.properties"
      - "optional:file:../env.properties"
  application:
    name: identity-service
  #_______________________________________DATABASE_______________________________________
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/identity_service_db
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  messages:
    basename: i18n/messages
    encoding: UTF-8
    default-locale: en

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: identity-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  mail:
    from: ${FROM_MAIL}
    host: smtp.gmail.com
    port: 587
    verify-link: ${GATEWAY_PUBLIC_URL:http://localhost:9050}/identity/auth/verify-email-by-token
    username: ${FROM_MAIL}
    password: ${SMTP_PASSWORD}
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVER_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: false

grpc:
  server:
    port: ${GRPC_IDENTITY_SERVICE_PORT}
    negotiationType: plaintext
    enableReflection: true
    maxInboundMessageSize: 104857600 # 100MB
    maxInboundMetadataSize: 1048576 # 1MB
  client:
    essay-service:
      address: static://${GRPC_ESSAY_SERVICE_HOST}:${GRPC_ESSAY_SERVICE_PORT}
      negotiationType: plaintext

    interaction-service:
      address: static://${GRPC_INTERACTION_SERVICE_HOST}:${GRPC_INTERACTION_SERVICE_PORT}
      negotiationType: plaintext

#logging:
#  level:
#    org.springframework: DEBUG

jwt:
  accessSignerKey: ${JWT_ACCESS_SIGNER_KEY}
  refreshSignerKey: ${JWT_REFRESH_SIGNER_KEY}
  valid-duration: 1800 # in seconds
  refreshable-duration: 2592000 # in seconds

minio:
  endpoint: http://${MINIO_HOST}:${MINIO_PORT}
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}
  bucket-name: essay-genius-bucket
  temp-bucket-name: essay-genius-temp-bucket

#_______________________________________API DOCUMENT_______________________________________
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: false
  show-actuator: true

openapi:
  service:
    title: Identity Service REST API
    description: This is the API documentation for Identity Service.
    version: 1.0.0
    server-description: Essay Genius Backend API service For Development

#_______________________________________MANAGEMENT_______________________________________
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
  endpoint:
    health:
      show-details: always

  info:
    git:
      enabled: true
      mode: full

  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
    tags:
      application: ${spring.application.name}

  observations:
    key-values:
      application: ${spring.application.name}

  tracing:
    enabled: true
    sampling:
      probability: 1.0

loki:
  url: ${LOKI_URL:http://localhost:3100/loki/api/v1/push}