# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn

# IntelliJ / Eclipse / VSCode
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Logs
*.log

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
Dockerfile