server:
  port: ${DISCOVERY_SERVER_PORT}
spring:
  config:
    import:
      - "optional:file:env.properties"
      - "optional:file:../env.properties"
  application:
    name: discovery-server
eureka:
  instance:
    hostname: ${DISCOVERY_SERVER_HOSTNAME:localhost}
    prefer-ip-address: false
  client:
    register-with-eureka: false
    fetch-registry: false