server:
  port: 10003
  servlet:
    context-path: /interaction

grpc:
  server:
    port: ${GRPC_INTERACTION_SERVICE_PORT}
    negotiationType: plaintext
    enableReflection: true
    maxInboundMessageSize: 104857600 # 100MB
    maxInboundMetadataSize: 1048576 # 1MB
  client:
    essay-service:
      address: static://${GRPC_ESSAY_SERVICE_HOST}:${GRPC_ESSAY_SERVICE_PORT}
      negotiationType: plaintext

    identity-service:
      address: static://${GRPC_IDENTITY_SERVICE_HOST}:${GRPC_IDENTITY_SERVICE_PORT}
      negotiationType: plaintext

    ai-service:
      address: static://${GRPC_AI_SERVICE_HOST}:${GRPC_AI_SERVICE_PORT}
      negotiationType: plaintext

jwt:
  accessSignerKey: ${JWT_ACCESS_SIGNER_KEY}
  refreshSignerKey: ${JWT_REFRESH_SIGNER_KEY}
  valid-duration: 1800 # in seconds
  refreshable-duration: 2592000 # in seconds

spring:
  config:
    import:
      - "optional:file:env.properties"
      - "optional:file:../env.properties"
  application:
    name: interaction-service
  messages:
    basename: i18n/messages
    encoding: UTF-8
    default-locale: en
  data:
    mongodb:
      username: ${MONGODB_USERNAME}
      password: ${MONGODB_PASSWORD}
      host: ${MONGODB_HOST}
#      uri: mongodb://eternity_user:a_will_eternal@interaction-service-mongodb:27017
      database: interactiondb
      authentication-database: admin

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVER_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: false

#logging:
#  level:
#    org.springframework: DEBUG
#_______________________________________API DOCUMENT_______________________________________
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: false
  show-actuator: true

openapi:
  service:
    title: Interaction Service REST API
    description: This is the API documentation for Interaction Service.
    version: 1.0.0
    server-description: Essay Genius Backend API service For Development

#_______________________________________MANAGEMENT_______________________________________
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
  endpoint:
    health:
      show-details: always

  info:
    git:
      enabled: true
      mode: full

  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
    tags:
      application: ${spring.application.name}

  observations:
    key-values:
      application: ${spring.application.name}

  tracing:
    enabled: true
    sampling:
      probability: 1.0

loki:
  url: ${LOKI_URL:http://localhost:3100/loki/api/v1/push}