# deps
node_modules

# next build output
.next
out

# env files
.env
.env.*
!.env.example

# vcs
.git
.gitignore

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor / os
.vscode
.idea
.DS_Store

# docs
README.md

# docker files
docker-compose.yml
