apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: eg-kafka
  namespace: essay-genius
spec:
  serviceName: eg-kafka
  replicas: 1
  selector:
    matchLabels:
      app: eg-kafka
  template:
    metadata:
      labels:
        app: eg-kafka
    spec:
      containers:
        - name: kafka
          image: apache/kafka:4.0.1
          imagePullPolicy: Never
          ports:
            - containerPort: 9092
            - containerPort: 9093
          env:
            # KRaft
            - name: KAFKA_PROCESS_ROLES
              value: "broker,controller"
            - name: KAFKA_NODE_ID
              value: "1"
            - name: KAFKA_CONTROLLER_QUORUM_VOTERS
              value: "1@eg-kafka-0.eg-kafka.essay-genius.svc.cluster.local:9093"

            # Listeners
            - name: KAFKA_LISTENERS
              value: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"

            - name: KAFKA_ADVERTISED_LISTENERS
              value: "PLAINTEXT://eg-kafka-0.eg-kafka.essay-genius.svc.cluster.local:9092"

            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"

            - name: KAFKA_CONTROLLER_LISTENER_NAMES
              value: "CONTROLLER"

            - name: KAFKA_AUTO_CREATE_TOPICS_ENABLE
              value: "true"

          volumeMounts:
            - name: kafka-data
              mountPath: /var/lib/kafka/data

  volumeClaimTemplates:
    - metadata:
        name: kafka-data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 2Gi

---
apiVersion: v1
kind: Service
metadata:
  name: eg-kafka
  namespace: essay-genius
spec:
  clusterIP: None
  selector:
    app: eg-kafka
  ports:
    - name: broker
      port: 9092
      targetPort: 9092
    - name: controller
      port: 9093
      targetPort: 9093
