apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: eg-prometheus
  namespace: essay-genius
spec:
  serviceName: eg-prometheus
  replicas: 1
  selector:
    matchLabels:
      app: eg-prometheus
  template:
    metadata:
      labels:
        app: eg-prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:main
          imagePullPolicy: Never
          args:
            - --enable-feature=exemplar-storage
            - --config.file=/etc/prometheus/prometheus.yml
            - --storage.tsdb.path=/prometheus
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
            - name: prometheus-data
              mountPath: /prometheus
      volumes:
        - name: prometheus-config
          configMap:
            name: eg-prometheus-config
  volumeClaimTemplates:
    - metadata:
        name: prometheus-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi

---
apiVersion: v1
kind: Service
metadata:
  name: eg-prometheus
  namespace: essay-genius
spec:
  selector:
    app: eg-prometheus
  ports:
    - port: 9090
      targetPort: 9090
  type: ClusterIP

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: eg-prometheus-config
  namespace: essay-genius
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]
